*,*::after,*::before{
	box-sizing: border-box;
	margin:0;
	border:0;
}

body{
    max-width: 1024px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}



img{
    max-width: 20%;
}