/************************************************************************************
*          All imports                                                              *
*************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


/************************************************************************************
*          Body and html                                                            *
*************************************************************************************/

*,*::after,*::before{
	box-sizing: border-box;
	margin:0;
	border:0;
}

body{
    max-width: 1024px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    min-width: 230px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 800% 800%;
    animation: gradient 20s ease infinite;
}

body>div{
    max-width: 95%;
    margin: .5em auto;
}


/************************************************************************************
*          Header                                                                   *
*************************************************************************************/
header{
    width: 100%;
    display: flex;
    justify-content: center;
    animation: name 5s;
    animation-iteration-count:infinite;
    animation-fill-mode:both;
    animation-direction: alternate;
}

header>h1{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    position: relative;
    font-size:3rem;
    animation:animacion;
    animation-iteration-count: infinite;
}

header>h1>i{
    color: white;
    font-size: medium;
    position:absolute;
    top: .5em;
}


/************************************************************************************
*          Form                                                                     *
*************************************************************************************/
form {
    max-width: 100%;
    margin: 0 auto;
}

form > * {
    margin-top: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

form input{
    border: solid .2em black;
    border-radius: .2em;
}

form button{
    background-color: #9466eb;
    color: white;
    border-radius: .2em;
    padding: .3em;
}

form #ocultarTodo{
    font-family: 'Roboto', sans-serif;
}

form div{
    padding: 0.5rem;
    background-color: white;
    border-radius: .2em;
}


/************************************************************************************
*          Gallery and img                                                          *
*************************************************************************************/

img{
    max-width: 12rem;
    margin: 0.5rem
}


#gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: .5em;
}

#gallery > div{
    margin: 1rem;
}


#gallery p{
    background-color: white;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
    border: .1em solid black;
    border-width: .1em .1em 0 .1em ;
    border-radius: 1em 1em 0 0;
    padding: .1em 0;
}


/************************************************************************************
*          List                                                                     *
*************************************************************************************/
ul {
  list-style: none;
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
}


/************************************************************************************
*          All keyframes                                                            *
*************************************************************************************/

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

@keyframes name{
    from{
        text-shadow: 4px 4px 4px rgb(212, 210, 203);
    }
    to{
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }
}

@keyframes animacion{
    from{
        background-color: rgb(0, 57, 107);
    }
    to{
        text-shadow: rgb(5, 5, 5);
    }
}
